<div class="offering-container">
  <% current_user.shower.each do |shower| %>
    <h2>shower.title</h2>
    <div class="shower-info">
      <p>shower.address</p>
      <p>shower.price</p>
    </div>
</div>
