<div class="offering-container">
  <% current_user.owned_showers.each do |shower| %>
    <h2><%= shower.title %></h2>
    <div class="shower-info">
      <p><%= shower.address %></p>
      <p><%= shower.price %></p>
    </div>
  <% end %>
</div>
