<h1>Showers#index</h1>

  <p>Find me in app/views/showers/index.html.erb</p>

  <div class="card">
    <% @showers.each do |shower| %>
      <div class="card-shower">
        <!--<%= link_to shower.title, shower_path(shower) %>-->
        <%= cl_image_tag shower.photo, crop: :fill %>
          <div class="card-shower-infos">
            <div>
              <h1>title</h1>
              <h2>address</h2>
            </div>
            <h2 class="card-shower-pricing"><%= shower.price %></h2>
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-shower-user avatar-bordered"/>
          </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New Shower", new_shower_path, class:"btn btn-primary" %>
