<div class="container d-flex">
  <div class="card">

  </div>

  <div
    id="map"
    style="width:100%; height:100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API-KEY']%>"
    ></div>
</div>
